@model IEnumerable<Cafe.Models.Reservation>

@{
    ViewData["Title"] = "Admin Paneli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>
               Adı
            </th>
            <th>
                Email
            </th>
            <th>
                Telefon No
            </th>
            <th>
               Kişi Sayısı
            </th>
            <th>
                Saat
            <th>
                Tarih
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sayi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saat)
            </td>
            <td>
                @item.Tarih.ToShortDateString()
            </td>
            <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash"></i> Sil </a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        let table = new DataTable('#myTable', {
            language: {
                url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/tr.json',
            },
        });

    </script>
}